
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/Stiffener_BOT.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/solderpaste_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/solderpaste_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/soldermask_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/soldermask_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/silkscreen_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/silkscreen_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/profile.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/gerber_job.gbrjob
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/copper_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/copper_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles.zip
More/hardware/boards/MAX86141HEG/CAMOutputs/DrillFiles/drill_1_16.xln
More/hardware/boards/MAX86141HEG/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_front.txt
More/hardware/boards/MAX86141HEG/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_back.txt
More/hardware/boards/MAX86141HEG/CAMOutputs/Assembly/MAX86141_HEG_MINI.txt
More/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI_centroid.csv
More/webApp/other/wip/threewater.html
