
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/Stiffener_BOT.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/solderpaste_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/solderpaste_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/soldermask_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/soldermask_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/silkscreen_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/silkscreen_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/profile.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/gerber_job.gbrjob
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/copper_top.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles/copper_bottom.gbr
More/hardware/boards/MAX86141HEG/CAMOutputs/GerberFiles.zip
More/hardware/boards/MAX86141HEG/CAMOutputs/DrillFiles/drill_1_16.xln
More/hardware/boards/MAX86141HEG/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_front.txt
More/hardware/boards/MAX86141HEG/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_back.txt
More/hardware/boards/MAX86141HEG/CAMOutputs/Assembly/MAX86141_HEG_MINI.txt
More/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI_centroid.csv
More/webApp/other/wip/threewater.html
Software/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI_centroid.csv
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/MAX86141GERBS.zip
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/Stiffener_BOT.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/solderpaste_top.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/solderpaste_bottom.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/soldermask_top.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/soldermask_bottom.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/silkscreen_top.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/silkscreen_bottom.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/profile.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/gerber_job.gbrjob
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/copper_top.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/GerberFiles/copper_bottom.gbr
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/DrillFiles/drill_1_16.xln
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_front.txt
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/Assembly/PnP_MAX86141_HEG_MINI_back.txt
Software/hardware/boards/MAX86141HEG/CAMOutputs/CAMOutputs/Assembly/MAX86141_HEG_MINI.txt
Software/hardware/boards/MAX86141HEG/CAMOutputs/Assembly/MAX86141_HEG_MINI_centroid.csv
Software/hardware/boards/MAX86141HEG/CAMOutputs/Assembly.zip
Software/hardware/boards/HEGduinoV1/ESP32_ADC_HUB.b#1
Software/hardware/boards/HEGduinoV1/CAMOutputs/HEGpcbGerbs.zip
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/solderpaste_top.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/solderpaste_bottom.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/soldermask_top.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/soldermask_bottom.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/silkscreen_top.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/silkscreen_bottom.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/profile.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/HEGduinoV1 - Shortcut.lnk
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/gerber_job.gbrjob
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/copper_top.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/GerberFiles/copper_bottom.gbr
Software/hardware/boards/HEGduinoV1/CAMOutputs/DrillFiles/drill_1_16.xln
Software/hardware/boards/HEGduinoV1/CAMOutputs/Assembly/PnP_ESP32_ADC_HUB_front.txt
Software/hardware/boards/HEGduinoV1/CAMOutputs/Assembly/PnP_ESP32_ADC_HUB_back.txt
Software/hardware/boards/HEGduinoV1/CAMOutputs/Assembly/ESP32_ADC_HUB.txt
Software/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI_centroid.csv
Software/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI_centroid.csv
Software/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI_centroid.csv
Software/hardware/boards/MAX30112HEG/docs/1102W_Series.pdf
Software/hardware/boards/MAX30112HEG/docs/AP2127.pdf
Software/hardware/boards/MAX30112HEG/docs/BOM.pdf
Software/hardware/boards/MAX30112HEG/docs/BPW 34 S_EN.pdf
Software/hardware/boards/MAX30112HEG/docs/lolin32_schematics_opensource.pdf
Software/hardware/boards/MAX30112HEG/docs/lsf0102.pdf
Software/hardware/boards/MAX30112HEG/docs/MAX30112.pdf
Software/hardware/boards/MAX30112HEG/docs/MAX30112_AssemblyGuide.pdf
Software/hardware/boards/MAX30112HEG/libraries/AP2127K.lbr
Software/hardware/boards/MAX30112HEG/libraries/LSF0102YZTR.lbr
Software/hardware/boards/MAX30112HEG/libraries/MAX30112.lbr
Software/hardware/boards/MAX30112HEG/MAX30112HEG.brd
Software/hardware/boards/MAX30112HEG/MAX30112HEG.sch
Software/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI.b#1
Software/hardware/boards/MAX86141HEG/MAX86141_HEG_MINI.b#2
Software/ChromeExtension.zip
